@keyframes spin1 {
    0% {
      transform: rotate(0); }
    100% {
      transform: rotate(360deg); 
    } 
}

@keyframes spin2 {
    0% {
      transform: rotate(72deg); }
    100% {
      transform: rotate(-288deg); 
    } 
}

@keyframes toUp {
    0%{transform: translateY(0);}
    100%{transform: translateY(-10px);}
}